Nam : Yuni Lestari NIM : 20220040006 Kelas :TI22C

<h2>Pengertian</h2>
<ol>
    <li>Fungsi pada python adalah kumpulan perintah atau baris kode yang dikelompokkan menjadi satu kesatuan untuk kemudian bisa dipanggil atau digunakan berkali-kali.</li>
    <li>Sebuah fungsi dapat menerima parameter, dapat mengembalikan suatu nilai, dan dapat dipanggil berkali-kali secara independen.</li>
</ol>
<hr>
<h2>Keuntungan</h2>
<ol>
    <li>Membagi kode program menjadi bagian-bagian kecil dengan tugasnya masing-masing.</li>
    <li>Membuat kode program menjadi lebih “reusable” dan lebih terstruktur.</li>
</ol>
<hr>
<h2>Sintaks</h2>

```python
def function_name():
    Logic Program
```
Cara memanggil fungsi dengan menuliskan function_name diikuti kurung buka tutup () beserta parameter jika ada

```python
    function_name()
```
<hr>
Buatlah fungsi dengan nama "helloPython" yang berfungsi untuk mencetak "Welcome in Python Language"

In [2]:
def helloPhyton():
  print('Welcom in Phyton Language')
helloPhyton()

Welcom in Phyton Language

<h1>Fungsi dengan parameter</h1>
Sebuah fungsi dapat menerima parameter ataupun argumen yang merupakan suatu nilai/variabel yang dilemparkan ke dalam fungsi untuk diproses lebih lanjut.

<h2>Sintaks</h2>

```python
def function_name(param):
    Logic Program
```
Cara memanggil fungsi dengan menuliskan function_name diikuti kurung buka tutup () beserta parameter

```python
    function_name(param)
```
<hr>

Buatlah fungsi dengan nama "fullName" yang mempunyai parameter "firstname" dan "lastname" digunakan untuk mencetak "firstname" dan "lastname"

In [3]:
def fullname(firstname,lastname):
  print(firstname,lastname)

fullname("Yuni","Lestari")

Yuni Lestari

Parameter fungsi diperbolehkan menggunakan lebih dari 1, dimana paramater tersebut ada yang wajib harus diisi dan ada yang tidak harus diisi

```python
def function_name(param_1, param_2, param_3,....):
    Logic Program
```

Cara memanggil fungsi dengan menuliskan function_name diikuti kurung buka tutup () beserta parameter

```python
    function_name(param_1, param_2, param_3)
```
<hr>
Buatlah fungsi dengan nama maxValue yang mempunyai parameter "val_1","val_2" dan "val_3" yang bertujuan untuk mencari nilai terbesar dari 3 nilai tersebut

In [4]:
def maxValue(val_1,val_2,val_3):
  a = max(val_1,val_2,val_3) 
  print(a)

input_Val1,input_Val2,input_Val3 = int(input("input Val 1 =")),int(input("input Val 2 =")),int(input("input Val 3 ="))
maxValue(input_Val1,input_Val2,input_Val3)

input Val 1 =1
input Val 2 =2
input Val 3 =3
3

Parameter opsional digunakan pada fungsi dengan cara memberikan nilai default, artinya nilai parameter sudah diberikan terlebih dahulu tanpa dipanggil

```python
def function_name(param_1, param_2, param_3 = 'Nilai'):
    Logic Program
```

Buatlah fungsi "countCircleArea" dengan 2 parameter yaitu "phi" dan "diameter" dimana parameter phi mempunyai nilai default 3.14

In [5]:
def countCircleArea(ruas,phi = 3.14):
  """ luas lingkaran"""
  luas = phi*ruas*ruas
  print(luas)

ruasnya = float(input('masukan ruas lingkarannya ='))

countCircleArea(ruasnya)

masukan ruas lingkarannya =25
1962.5

Fungsi dengan 2 Parameter opsional juga dapat dilakukan pada Python. 

```python
def info(suhu, daerah='Sukabumi', satuan = 'Celcius'):
    print(f"Suhu sekarang di {daerah} : {suhu} {satuan} ")
```
Adapun Cara memanggilnya

```python
    info(30)
```

In [10]:
#Cobalah fungsi tersebut pada area kode disini
def info(suhu, daerah='JampangKulon', satuan = 'Celcius'):
  print(f"Suhu sekarang di {daerah} : {suhu} {satuan} ")

info(30)

Suhu sekarang di JampangKulon : 30 Celcius

<h1>Fungsi dengan Return Value</h1>

Yaitu fungsi dimana akhir dari programnya adalah nilai kembalian atau nilai balik. Artinya nilai dalam fungsi dapat ditampung lagi ke variabel lain untuk digunakan operasi lebih lanjut.

Buatlah fungsi dengan return value yang digunakan untuk mengecek sebuah bilangan termasuk bilangan negatif, bilangan neteral(0) dan bilangan positif

In [12]:
def FungsiReturn(val):
  if val == 0:
    return "neetral"
  elif val % 2 == 0:
    return "positif"
  else:
    return "negatif"

valinput = float(input('input the value ='))
print(FungsiReturn(valinput))

input the value =2
positif

<h3>Soal Latihan</h3>
<ol>
    <li>Buatlah fungsi untuk menjumlahkan total nilai dari list</li>
    <li>Buatlah fungsi untuk mencari nilai terbesar dari sekumpulan list </li>
    <li>Buatlah fungsi untuk menjumlahkan 2 buah list </li>
</ol>

In [14]:
#Soal 1
def TotalNilaiList(listnya):
 jumlah = sum(listnya)
 return jumlah

tilist = [10,20,30,40,50,60,70,80,90,100]

TotalNilaiList(tilist)

550

In [15]:
#Soal 2
def TotalNilaiList(listnya):
  maxval = max(listnya)
  return maxval

tilist = [10,20,30,40,50,60,70,80,90,100]

TotalNilaiList(tilist)

100

In [18]:
#Soal 3
def TotalNilaiList(list1,list2):
  jumlah = sum(list1) + sum(list2)
  return jumlah

tilist = [10,20,30,40,50,60,70,80,90,100]
tilist2 = [110,120,130,140,150,160,170,180,190,200]
2100
TotalNilaiList(tilist,tilist2)

2100